<%= render partial: "shared/header_small" %>

<div class="container">

  <h1>Log In</h1>

  <%= form_tag sessions_path do %>

    <%= label_tag :email %>
    <%= email_field_tag :email, params[:email] %><br />

    <%= label_tag :password %>
    <%= password_field_tag :password %><br />

    <%= link_to "forgotten password?", new_password_reset_path %><br />
    
    <%= submit_tag "Log In" %>

  <% end %>

</div>
