<%= form_for @listing do |l| %>

  <ul>
  <% @listing.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>

  <fieldset class="form-fieldset post post-borderless">
    <legend class="heading-secondary form-legend">Job Information:</legend>

    <div class="form-fieldset-content module">
      <p>
        <%= l.label :title, class: 'form-label' %>
        <%= l.text_field :title, required: true, class: 'form-control' %>
      </p>

      <p>
        <%= l.label :category, class: 'form-label' %>
        <%= l.collection_select :category_id, @categories, :id, :name, {include_blank: "Please select"}, required: true, class: 'form-control' %>
      </p>

      <p>
        <%= l.label :description, class: 'form-label' %>
        <span class="form-label-instructional">(this field accepts markdown or plain text)</span>
        <%= l.text_area :description, required: true, class: 'form-control' %>
      </p>

      <p>
        <%= l.label :headquarters, class: 'form-label' %>
        <%= l.text_field :headquarters, required: true, class: 'form-control' %>
      </p>

      <p>
        <%= l.label "Application Instructions", class: 'form-label' %>
        <%= l.text_area :app_instructions, required: true, class: 'form-control' %>
      </p>
    </div>
  </fieldset>

  <fieldset class="form-fieldset post post-borderless">
    <legend class="heading-secondary form-legend">Company Information:</legend>

    <div class="form-fieldset-content module">
      <p>
        <%= l.label "Company Name", class: 'form-label' %>
        <%= l.text_field :company_name, required: true, class: 'form-control' %>
      </p>

      <p>
        <%= l.label "URL", class: 'form-label' %>
        <%= l.text_field :company_url, required: true, class: 'form-control' %>
      </p>

      <p>
        <%= l.label "Email", class: 'form-label' %>
        <%= l.email_field :company_email, required: true, class: 'form-control' %>
      </p>

      <p>
        <%= l.label "Logo (optional)", class: 'form-label' %>
        <span class="form-label-instructional">Supported file types: jpg, jpeg, png, gif, bmp</span>
        <%= l.file_field :logo, class: 'form-control' %>

        <% if @listing.logo? %>
          <%= image_tag @listing.logo_url %>
          <%= l.check_box :remove_logo %> Remove Logo
        <% end %>
      </p>
    </div>
  </fieldset>

  <p class="clearfix">
    <%= link_to "Cancel", listings_path, class: "btn pull-left" %>
    <%= l.submit class: 'btn btn-primary pull-right' %>
  </p>

  <% end %>
