<h1>Review your submission</h1>
<hr />


<h4>Job Title:</h4>
<%= @listing.title %>

<h4>Company:</h4>
<p><%= @listing.company_name %></p>
<p><%= @listing.company_url %></p>
<p><%= @listing.company_email %></p>
<%= image_tag @listing.logo_url %>

<h4>Headquarters: </h4>
<%= @listing.headquarters %>


<h4>Job Description: </h4>
<p><%= @listing.description %></p>

<h4>How to Apply: </h4>
<p><%= @listing.app_instructions %></p>


<hr />
<h4>Look good?</h4>
<!--this will submit the listing to be approved by admin, eventually -->
<button> 
  <%= link_to "Submit for approval", listings_path %>
</button>

<button> 
  <%= link_to "Nope! Delete it.", listing_path(@listing), 
  method: :delete, data: {confirm: "Really delete this job listing?"} %>
</button>

<button> 
  <%= link_to "Nope! Let's change it.", edit_listing_path(@listing)%>
</button>