<h1>Review submitted listing</h1>
<hr />


<h4>Job Title:</h4>
<%= @listing.title %>

<h4>Company:</h4>
<p><%= @listing.company_name %></p>
<p><%= @listing.company_url %></p>
<p><%= @listing.company_email %></p>
<%= image_tag @listing.logo_url %>

<h4>Headquarters: </h4>
<%= @listing.headquarters %>


<h4>Job Description: </h4>
<p><%= @listing.description %></p>

<h4>How to Apply: </h4>
<p><%= @listing.app_instructions %></p>


<%= @listing.id %>
