<%= render partial: "shared/header_small" %>
 <%= link_to "Log In", new_session_path %>

<h1>Pending Listings</h1>

<ul>
<% @listings.pending.each do |l| %>

  <li>
   <%= link_to l.title, listing_review_path(l.id) %>, <%= l.created_at.to_date %>
 </li>

<% end %>
</ul>

<h4>Rejected Listings</h4>
<ul>
<% @listings.rejected.each do |l| %>

  <li>
   <%= link_to l.title, listing_review_path(l.id) %>, <%= l.created_at.to_date %>
 </li>

<% end %>
</ul>