<%= render partial: "shared/header_small" %>

<div class="container">

<% if current_user %>

  <h1 class="heading-primary">Review submitted listing</h1>

    <div class="well module">
      <%= render partial: "shared/listing_post" %>
    </div>

    <%= form_for @listing, url: listing_approve_path(@listing) do |f| %>
      <fieldset class="form-fieldset post post-borderless">
        <legend class="heading-secondary form-legend">Look good?</legend>

        <div class="form-fieldset-content module">
          <%= f.label :approved, class: "form-label" %>

          <p class="form-input-row">
            <label class="form-input-radio"><%= f.radio_button("approved", "1") %> Yes</label>
            <label class="form-input-radio"><%= f.radio_button("approved", "0") %> No</label>
          </p>

          <p>
            <%= f.label :message_to_submitter, "Reason for rejection", class: "form-label" %>
            <span class="form-label-instructional">(optional)</span>
            <%= f.text_area :message_to_submitter, class: "form-control" %>
          </p>

        </div>
      </fieldset>
      <%= f.submit "Save", class:"btn btn-primary pull-right" %>

    <% end %>

    <%= link_to "Cancel", admin_path, class: "btn pull-left" %>

  <% else %>

  <div class="text-center">
    <%= link_to "Log In", login_path, class: "btn" %>
  </div>

  <% end %>
</div>
