<%= render partial: "shared/header_small" %>

<div class="container">
  <% if current_user %>

  <nav class="pull-right clearfix">
    Logged in as <%= current_user.email %>
    <%= link_to "Log Out", logout_path, class: "btn" %>
    <%= link_to "Manage Users", users_path, class: "btn" %>
  </nav>

  <h1>Pending Listings</h1>

  <ul>
  <% @listings.pending.each do |l| %>

    <li class="listing">
      <strong class="listing-bow listing-section">
              <span><%= l.company_name %></span>
            </strong>
     <h3 class="listing-title listing-section"><%= link_to l.title, admin_review_path(l.id) %></h3> 
     <div class="listing-stern listing-section"><%= l.created_at.strftime("%m/%d") %></div>
   </li>

  <% end %>
  </ul>

  <h4>Rejected Listings</h4>
  <ul>
  <% @listings.rejected.each do |l| %>

    <li class="listing">
     <strong class="listing-bow listing-section">
              <span><%= l.company_name %></span>
            </strong>
     <h3 class="listing-title listing-section"><%= link_to l.title, admin_review_path(l.id) %></h3> 
     <div class="listing-stern listing-section">Reviewed:<%= l.date_approved.strftime("%m/%d") %></div>
   </li>

  <% end %>
  </ul>

  <%= link_to "View Active Listings", listings_path, class: "btn pull-right clearfix" %>

  <!-- user visible content ends here -->
  <% else %>
   <%= link_to "Log In", login_path, class: "btn" %>
  <% end %>
</div>
