<h1>Dev/Local Jobs</h1>

<nav> 
  <%= form_tag(listings_path, method: "get") do %>
    <%= label_tag "Search for:" %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
  <button>
    <%= link_to "List your job", new_listing_path %>
  </button>
</nav>

<ul>
  <% @listings.each do |l| %>
    <li>
      <%= link_to l.title, listing_path(l.id) %>, <%= l.headquarters %>
    </li>
  <% end %>
</ul>

