<%= render partial: "shared/header_big" %>

<div class="container">
  <% @categories.each do |c| %>
    <h2 class="heading-primary"><%= c.name %> Jobs</h4>

    <ul class="listing-group">
      <% c.listings.approved.each do |l| %>
        <li class="listing">
          <a href="<%= listing_path(l.id) %>">
            <strong class="listing-bow listing-section">
              <span><%= l.company_name %></span>
            </strong>

            <h3 class="listing-title listing-section">
              <%= l.title %>
            </h3>

            <div class="listing-stern listing-section">
              <%= l.date_approved.strftime("%m/%d") %>
            </div>
          </a>
        </li>
      <% end %>
    </ul>

  <% end %>
</div>
