<%= render partial: "shared/header_small" %>

<div class="container">

  <%= render partial: "review_listing" %>

  <hr />
<!-- if admin-->
  <% if current_user %>
    <h4>Look good?</h4>

    <%= form_for @listing, url: listing_approve_path(@listing) do |f| %>
        Approved? <%= f.check_box :approved %>
    <%= f.submit "Save" %>
      <% end %>

    <%= link_to "Cancel", admin_path%>

<% else %>
<!-- if submitter -->
<!-- if listing has already been approved, it can only be reached by token link-->

    <%= link_to "Submit for approval", listings_path %>
   
    <%= link_to "Nope! Delete it.", listing_path(@listing), 
    method: :delete, data: {confirm: "Really delete this job listing?"} %>
   
    <%= link_to "Nope! Let's change it.", edit_listing_path(@listing)%>

  <% end %>

</div>
