<%= render partial: "shared/header_small" %>

<h1><%= @listing.title %></h1>
<h4><%= @listing.category.name %></h4>
<%= image_tag @listing.logo_url%>

<p><%= @listing.company_name %></p>
<p>Headquarters: <%= @listing.headquarters %></p>
<%= @listing.company_url %>
<hr />

<h4>Job Description: </h4>
<p><%= @listing.description %></p>

<h4>How to Apply: </h4>
<p><%= @listing.app_instructions %></p>


<%= link_to "Back to all jobs", listings_path %>

<%= link_to "See all #{@listing.category.name} jobs", category_path(@listing.category) %>