<%= render partial: "shared/header_small" %>

<div class="container">

<%= render partial: "review_listing" %>

  <hr />
  <h4> Look good? </h4>
  <%= link_to "Submit for approval", listings_path %>
 
  <%= link_to "Nope! Delete it.", listing_path(@listing), 
  method: :delete, data: {confirm: "Really delete this job listing?"} %>
 
  <%= link_to "Nope! Let's change it.", edit_listing_path(@listing)%>

</div>