<%= render partial: "shared/header_small" %>

<div class="container">

  <h4>Create an Admin</h4>

  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <h2>Form is invalid</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>

    <%= f.label :email %>
    <%= f.email_field :email %><br />

    <%= f.label :password %>
    <%= f.password_field :password %><br />

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br />
    
    <%= f.submit "Create" %>
  <% end %>
  <p>They'll be sent an email notification about their account and get to change their password once the account is created.</p>

<%= link_to "Cancel", users_path, class: "btn pull-right clearfix" %>
</div>