<header class="header">
  <div class="container">
    <a href="<%= root_url %>">
      <h1 class="logo">
        <span class="visuallyhidden">DevLocal Jobs</span>
      </h1>
    </a>

    <%= form_tag "/search", method: "get" do %>
      <%= label_tag "Search for:" %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", name: nil %>
    <% end %>

    
    <%= link_to "List your job", new_listing_path, class: 'btn pull-right' %>
    
  </div>
</header>

<main class="content">
