<header class="header" role="banner">
  <div class="header-wrapper">
    <div class="container clearfix">
      <a href="<%= root_url %>" class="pull-left">
        <h1 class="logo">
          <span class="visuallyhidden">DevLocal Jobs</span>
        </h1>
      </a>

      <div class="header-actions pull-right">
        <%= form_tag "/search", class: 'searchbar', method: "get" do %>
          <%= label_tag "search", "Search for", class: 'visuallyhidden' %>
          <%= text_field_tag :search, params[:search], class: 'searchbar-input' %>
          <%= submit_tag "Search", name: nil, class: 'searchbar-btn btn' %>
        <% end %>

        <%= link_to "List your job", new_listing_path, class: 'btn btn-header' %>
      </div>
    </div>
  </div>
</header>

<main class="content">
