<%= render partial: "shared/header_big" %>

<div class="container">

  <h1><%= @category.name %> Jobs</h1>

  <ul>
    <% @category.listings.approved.each do |l| %>
      <li>
        <%= link_to l.title, listing_path(l.id) %>, <%= l.headquarters %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Back to all jobs", listings_path %>
</div>